*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #f7e7e7;
}
.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
   
}
.header h2{
    font-size: 18px;
   
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul,li {
    display: inline-block;
    list-style: none;
}
h2 .h2-sec{
    color: #3f51b5;
    font-style: italic;
    font-size: 16px;
}
/*
body{
    background: #fff;;
    color: #080808;
}

.main {
    width: 100%;
    height: 100vh;
}
.container{
   
   
    
    border:1px solid red;
}*/
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.textbox{
    padding: 10px 10px;
    height: 30px;
    border-radius: 6px;
    border: none;
}
.btn{
    color: #fff;
    background: #3f51b5;
    padding: 8px 30px;
    font-size: 12px;
    border-radius: 6px;
    border: none;
}
/** Table **/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  /** Table **/
.exp-box{
    background: #d9e0ff;
    top:50%;
    margin-left: 30%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.exp-box h1{
    color: #3f51b5;
   
}
.exp-box h3{
    color: #3f51b5;
    text-align: center;
    vertical-align: middle;

}

@media only screen and (max-width:600px){
    .header {
        padding: 0 5%;
    }
    
    .row{
        flex-direction: column;
        justify-content: left;
        align-items: inherit;
    }
    .row label {
        margin-top: 10px;
    }
    .textbox{
        margin-top: 10px;
    }
    #addExp{
        margin-top: 10px;
    }
    .exp-box{
        margin-left: 10%;
    }
    table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    
}
